.fondo{
    /* background-color: burlywood; */ 
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 45%, rgba(252,176,69,1) 100%); 
}

.texto{

    font: bold 100 px tahoma;
    width: 100%;
    color: white;
}

.centro{
    text-align: center;
}

.justificar{

    text-align: justify;
}